.input {
    width: 100%;
    
    border : 3px solid black;
    background: none;
    aspect-ratio: 12/1;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
}