.btn {
    width: 50%;
    height: 10%;
    border : 3px solid black;
    border-radius: 10px;
    background: hsl(0, 0%, 84%);
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.btn.active {
    background-color: hsl(200, 100%, 50%);
    color: white;
}

.btn.inactive {
    opacity: .3;
}

.btn:hover:not(disabled),
.btn:focus:not(disabled) {
    background-color: hsl(200 ,100%, 75%);
}